<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>Open Edit</display-name>
	
	<filter> 
	    <filter-name>gzip</filter-name>
	    <filter-class>com.openedit.servlet.gzip.GzipFilter</filter-class>
	</filter>
			
	<filter>
		<filter-name>OEFilter</filter-name>
		<filter-class>com.openedit.servlet.OpenEditFilter</filter-class>
	</filter>

	<filter-mapping>
	    <filter-name>gzip</filter-name>
	    <url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping> 
	    <filter-name>gzip</filter-name>
	    <url-pattern>*.css</url-pattern>
	</filter-mapping>

	<filter-mapping>
	    <filter-name>gzip</filter-name>
	    <url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>OEFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  <listener>
        <listener-class>org.netevolved.cmis.CMISContextListener</listener-class>
    </listener>
<!--   
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>cmisws10</servlet-name>
        <servlet-class>org.apache.chemistry.opencmis.server.impl.webservices.CmisWebServicesServlet</servlet-class>
        <init-param>
            <param-name>cmisVersion</param-name>
            <param-value>1.0</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>cmisws11</servlet-name>
        <servlet-class>org.apache.chemistry.opencmis.server.impl.webservices.CmisWebServicesServlet</servlet-class>
        <init-param>
            <param-name>cmisVersion</param-name>
            <param-value>1.1</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
-->
    <servlet>
        <servlet-name>cmisatom10</servlet-name>
        <servlet-class>org.apache.chemistry.opencmis.server.impl.atompub.CmisAtomPubServlet</servlet-class>
        <init-param>
            <param-name>callContextHandler</param-name>
            <param-value>org.apache.chemistry.opencmis.server.shared.BasicAuthCallContextHandler</param-value>
        </init-param>
        <init-param>
            <param-name>cmisVersion</param-name>
            <param-value>1.0</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>cmisatom11</servlet-name>
        <servlet-class>org.apache.chemistry.opencmis.server.impl.atompub.CmisAtomPubServlet</servlet-class>
        <init-param>
            <param-name>callContextHandler</param-name>
            <param-value>org.apache.chemistry.opencmis.server.shared.BasicAuthCallContextHandler</param-value>
        </init-param>
        <init-param>
            <param-name>cmisVersion</param-name>
            <param-value>1.1</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>cmisbrowser</servlet-name>
        <servlet-class>org.apache.chemistry.opencmis.server.impl.browser.CmisBrowserBindingServlet</servlet-class>
        <init-param>
            <param-name>callContextHandler</param-name>
            <param-value>org.apache.chemistry.opencmis.server.impl.browser.token.TokenCallContextHandler</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
<!--
    <servlet-mapping>
        <servlet-name>cmisws10</servlet-name>
        <url-pattern>/entermedia/servlets/services/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>cmisws11</servlet-name>
        <url-pattern>/entermedia/servlets/services11/*</url-pattern>
    </servlet-mapping>
-->
    <servlet-mapping>
        <servlet-name>cmisatom10</servlet-name>
        <url-pattern>/entermedia/servlets/atom/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>cmisatom11</servlet-name>
        <url-pattern>/entermedia/servlets/atom11/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>cmisbrowser</servlet-name>
        <url-pattern>/entermedia/servlets/browser/*</url-pattern>
    </servlet-mapping>
 

</web-app>
